
@font-face {
    font-family: 'birds_of_paradise';
    src: url('birds_of_paradise__commercial_version-webfont.eot');
    src: 
         url('birds_of_paradise__commercial_version-webfont.woff') format('woff');  
        font-weight: normal;
        font-style: normal;

}