/* CSS Reset
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Set core root defaults */
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
}
main{
    background-image: url("worldImages/bacgkgroundimg.jpg");

}

/* Remove list styling */
ol, ul {
    list-style: none;
}

.title{
    font-family: 'birds_of_paradise';
    font-size: 42px;
    color: #ebc66d;
    text-decoration: underline;
}

/* Remove quotes for blockquotes and q */
blockquote, q {
    quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
    content: '';
}

/* Reset table borders */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Anchor tag styles */
a {
    text-decoration: none;
    color: inherit;
    font-family: 'Bebas Neue';
} 

body, header{
    padding: 0;
    margin: 0;
    display: block;
}
body, html, #map {
    height: 100%;
    width: 100%; /* Set to full width of the viewport */
    max-width: 2440px;
    margin: 0;
    padding: 0;
    
}


#buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Bebas Neue";
}

header{
    display: inline-block;
    width: 100%;
    padding: 5px;
    color: white;
    text-align: center;
    background-image: url("../images/plannettes.png");
    box-sizing: border-box;
    background-size: cover;
    
    background-repeat: no-repeat;
}



#info h1{
    background-color: rgba(0, 0, 0, 0.7);   
    padding: 10px;
    border-radius: 10px;
}

#info p{
    font-family: Bebas Neue;
    background-color: rgba(0, 0, 0, 0.7);   
    padding: 10px;
    border-radius: 10px;
}

#intro{
    position: fixed;
    background-image: url("worldImages/IMG_4546.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    z-index: 3;
    overflow: hidden;
}

#intro article{
    box-sizing:border-box;
    background-color: rgba(0,0,0,.9);
    font-family: Bebas Neue;
    font-size: 24px;
    color: white;
    padding: 40px;
    border-radius: 22px;
    width: 70vw;
    /* height: 80vh; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Stops the text or content from overlowing out of overlay box */
    overflow-y: scroll; 
    overflow-x: scroll;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#start{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #384529;
    color: whitesmoke;
    display: inline-block;
    border-radius: 20px;
    font-family: 'birds_of_paradise';
    padding: 15px;
    text-decoration: underline;
}
.hidden{
    display: none;
}
#game{
    display: flex;
    flex-direction: column;
    height: 85vh;
    
}
#mapSection{
    background-color: #dff19a;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#map {
    max-width: 300px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    margin-bottom: 10%;
}

img{
    max-width: 80%;
    height: auto;
    max-height: 60vh;
    margin: 10px;
    margin-bottom: 10px;
}

#result{
    display: inline;
}

#location{
    font-family: Bebas Neue;
    font-size: 1.4em;
}

#scoreCounter{
    font-family: 'birds_of_paradise';
    color: rgb(200, 162, 39);
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
}

#gamePhoto{
    background-color: #ebc66d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gamePhoto p{
    display: inline;
    margin: 0px;
    text-align: left;
}

.zoom-image {
    /* width: 400px;
    height: 300px; */
    object-fit: cover;
    position: relative; /* For lens positioning */
}

.zoom-lens {
    position: absolute;
    width: 200px; /* Size of the zoom lens */
    height: 200px;
    border: 2px solid #000;
    display: none; /* Initially hidden */
    cursor: crosshair;
    background-image: url(#); /* Set dynamically via JavaScript */
    background-repeat: no-repeat;
    background-size: 1600px 1200px; /* 2x zoom of the original image */
    /* z-index: 2000000001; */
}


#hint1, #hint2{
    margin: 0;
}

#result {
    font-size: 1em;
    margin: 2%;
}

#guessButton{
    text-decoration: underline;
    background-color: black;
    border-radius: 10px;
    color: #ebc66d;
    padding: 5px;
    margin: 5px;
}

#playAgain{
    text-decoration: underline;
    background-color: black;
    border-radius: 10px;
    color: #ebc66d;
    padding: 5px;
    margin: 5px;
}

.overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000000000;
}

.overlay img{
    max-width: 90vw; 
    max-height: 90vh; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    object-fit: contain;
    transform: translate(0%, -5%);
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.corner {
    font-size: 52px;
    margin:0;
    padding: 0;
    border: none;
    background-color: transparent;
    color: tomato;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    outline: none;
}


#roundResults{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
}
#smallPhoto{
    max-width: 240px;
    height: auto;
}

#playAgainInner{
    text-decoration: underline;
    background-color: black;
    border-radius: 10px;
    color: #ebc66d;
    padding: 5px;
    margin: 5px;
}

#closeInner{
    text-decoration: underline;
    background-color: black;
    border-radius: 10px;
    color: #ebc66d;
    padding: 5px;
    margin: 5px;
}

#description{
    max-width: 65ch;
}

#overlayButtons{
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 600px){
    #game{
        display: flex;
        flex-direction: row;
    }
    #mapSection, #gamePhoto{
        flex: 1;
        max-width: 50%;
    }
    #map{
        margin-top: 5%;
        max-width: 80%; /* Adjust as needed */
        height: 400px;
        
    }

    /* .overlay img{
        /* transform: translate(0,0);
        transform: translate(-60%, -40%);     */
     
    #buttons{
        margin-top: 5%;
        width: 30%;
        flex-direction: row;
    }
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 14;
    }
    #scoreCounter{
        flex: 1;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 600px) {
    /* .zoom-lens {
        display: none !important; /* Prevents zoom overlay from appearing on mobile, they can just zoom manually */
    #tip1{
        padding: 25px;
    }
    #tip2{
        display: none !important;
    }

    #guessButton{
        margin: 30px;
    }

    #playAgain{
        margin-bottom: 30px;
    }
}

